.header {
    background-color: #976420;
    text-align: center;
}

.header__text {
    color: #FFFFFF;
    font-size: 140%;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    padding-top: 15px;
}