@mixin form-item {
    font-size: 100%;
    margin-bottom: 20px;
}


.logform__store {
    font-size: 100%;
    margin-bottom: 10px;
}

.logform__addstore {
    @include form-item();
}

.logform__product {
    @include form-item();
}

.logform__price {
    @include form-item();
}

.logform__hot {
    @include form-item();
    margin-top: 20px;
}

.logform__note {
    @include form-item();
}

.logform__bitter {
    @include form-item();
}

.logform__acidity {
    @include form-item();
}

.logform__smell {
    @include form-item();
}

.logform__after {
    @include form-item();
}

.logform__likely {
    @include form-item();
}

.logform__submit {
    background-color: #f77a27;
    border: none;
    color: #fff;
    font-size: 120%;
    margin-bottom: 40px;
    padding: 10px;
    
    &:hover {
    background-color: rgb(230, 112, 28);
    color: #fff;
    }
}

.logform__explain {
    @include form-item();
    font-weight: bold;
}