.log {
    margin: 30px;
}

.log__product {
    font-size: 140%;
    margin: 10px;    
}

.log__shop {
    color: gray;
    margin: 10px;
}


.log__note {
    font-size: 110%;
    margin: 30px 10px;
}


.log__edit {
    background-color: #FFFFFF;
    border: solid 1px #000000;
    text-decoration: none;
    padding: 5px;

    &:hover {
        background-color: #AFAFAF;
    }
}