@mixin nav-block {
    border: solid #d3d3d3 1px;
    font-size: 100%;
    height: 40%;     
    padding: 7px;
    text-align: center;
    width: 100%;
    text-decoration: none;

    &:hover{
        background-color: #fadeba80;
    }
}

$_stripe: #ffecd39d;


.navigate {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.navigate__top {
    @include nav-block;
    background-color: $_stripe;
}

.navigate__store{
    @include nav-block;
    background-color: $_stripe;
}

.navigate__new{
    @include nav-block;
    background-color: $_stripe;
}

.navigate__search{
    @include nav-block;
    background-color: $_stripe;
}
