.other {
    border-left: solid 1px #a7a7a7;
    height: 100%;
}

.other__name {
    font-size: 130%;
    height: 12%;
    padding: 30px;
}

.other__list {
    list-style-type: none;
    padding: 30px;
}