.other {
    border: solid 1px #7e7e7e;
    height: 100%;
}

.other__name {
    border-bottom: solid 1px #7e7e7e;
    font-size: 130%;
    height: 12%;
    padding: 30px;
}

.other__list {
    list-style-type: none;
    padding: 30px;
}