.top{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 12%;
        justify-content: space-around;
        padding: 30px;

    &--ice {
        background-color: #97e6e9ab;
    }
    
    &--hot {
        background-color: #ec9b9bb6;
    }

    &--list {
        background-color: #c0a386;
    }

    &--store {
        background-color: #d4c1ad;
    }

    &--new {
        background-color: #fff3bf;
    }
}

.top__text{
    font-size: 150%;
    font-weight: bold;
    color: #000000;
}

.top__date{
    font-size: 80%;

}
