.flavor {
  font-size: 135%;
  margin: 10px;
}

.flavor__bitter {
  margin: 10px;
}

.flavor__acid {
  margin: 10px;
}

.flavor__smell {
  margin: 10px;
}

.flavor__after {
  margin: 10px;
}

.flavor__like {
  margin: 10px;
}

.header {
  text-align: center;
}

.header__text {
  font-size: 140%;
  margin-bottom: 15px;
  padding-top: 15px;
}

.log {
  margin: 30px;
}

.log__product {
  font-size: 140%;
  margin: 10px;
}

.log__shop {
  color: gray;
  margin: 10px;
}

.log__note {
  font-size: 110%;
  margin: 30px 10px;
}

.log__edit {
  background-color: #FFFFFF;
  border: solid 1px #000000;
  text-decoration: none;
  padding: 5px;
}

.log__edit:hover {
  background-color: #AFAFAF;
}

.logform__store {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__product {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__price {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__hot {
  font-size: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logform__store {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__note {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__bitter {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__acidity {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__smell {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__after {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__likely {
  font-size: 100%;
  margin-bottom: 20px;
}

.logform__submit {
  background-color: #f77a27;
  border: none;
  color: #fff;
  font-size: 120%;
  margin-bottom: 40px;
  padding: 10px;
}

.logform__submit:hover {
  background-color: #e6701c;
  color: #fff;
}

.logform__explain {
  font-size: 100%;
  margin-bottom: 20px;
  font-weight: bold;
}

.items {
  list-style-type: none;
  margin: 40px;
}

.items__shop {
  color: gray;
}

.items__name {
  font-size: 125%;
}

.stores {
  list-style-type: none;
  margin: 40px;
}

.stores__name {
  font-size: 125%;
}

.stores__count {
  color: gray;
}

.other {
  border: solid 1px #7e7e7e;
  height: 100%;
}

.other__name {
  border-bottom: solid 1px #7e7e7e;
  font-size: 130%;
  height: 12%;
  padding: 30px;
}

.other__list {
  list-style-type: none;
  padding: 30px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  width: 100%;
}

.main__sub {
  width: 35%;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 50px;
}

.new__summary {
  padding-left: 10%;
  width: 50%;
}

.new__taste {
  padding-right: 20%;
  width: 50%;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navigate__top {
  border: solid #d3d3d3 1px;
  font-size: 100%;
  height: 40%;
  padding: 7px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: #facf989d;
}

.navigate__top:hover {
  background-color: #fadeba80;
}

.navigate__new {
  border: solid #d3d3d3 1px;
  font-size: 100%;
  height: 40%;
  padding: 7px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: #facf9880;
}

.navigate__new:hover {
  background-color: #fadeba80;
}

.navigate__store {
  border: solid #d3d3d3 1px;
  font-size: 100%;
  height: 40%;
  padding: 7px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: #facf989d;
}

.navigate__store:hover {
  background-color: #fadeba80;
}

.navigate__search {
  border: solid #d3d3d3 1px;
  font-size: 100%;
  height: 40%;
  padding: 7px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  background-color: #facf9880;
}

.navigate__search:hover {
  background-color: #fadeba80;
}

.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

.top--ice {
  background-color: #97e6e9ab;
}

.top--hot {
  background-color: #ec9b9bb6;
}

.top--list {
  background-color: #d0ffb5;
}

.top--new {
  background-color: #fff3bf;
}

.top__text {
  font-size: 150%;
}

.top__date {
  font-size: 80%;
}
