{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>Coffee Log | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'coffeelog/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'coffeelog/css/style.css' %}" />
</head>

<body>
    <header class="header">
        <div class="header__text">Coffee Log</div>
        <div class="navigate">
            <div class="navigate__top">Top</div>
            <div class="navigate__new">New Log</div>
            <div class="navigate__all">All Log</div>
            <div class="navigate__search">Search</div>
        </div>
    </header>


    <div class="main">
        
        <div class="main__content">
            {% block top %}
            {% endblock %}

            {% block main %}
            {% endblock %}
        </div>
    
                {% block sub %}
                {% endblock %}
        </div>
        
    </div>
</body>