{% load static %}


<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>Coffee Log | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'coffeelog/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'coffeelog/css/style.css' %}" />
</head>

<body>
    <header class="header">
        <a class="header__text" href="{% url 'coffeelog:list' %}">Coffee Log </a>
        <div class="navigate">
            <a class="navigate__top" href="{% url 'coffeelog:list' %}" > Top</a>
            <a class="navigate__new" href="{% url 'coffeelog:new' %}" > New Log</a>
            <a class="navigate__store" href="{% url 'coffeelog:store' %}" > Stores</a>
            <a class="navigate__search" href="{% url 'coffeelog:list' %}" > Search</a>
        </div>
    </header>


    <div class="main">
        
        <div class="main__content">
            {% block top %}
            {% endblock %}

            {% block main %}
            {% endblock %}
        </div>
    
                {% block sub %}
                {% endblock %}
        </div>
        
    </div>

    <div class="footer">
        <p class="footer__text">ここに掲載されているLogは全て個人的な感想であり、価値や評価を表すものではありません。</p>
        <p class="footer__name">Tkutose 2021</p>
    </div>

</body>

</html>