{% extends 'coffeelog/base.html' %}
{% load coffeelog.func_libs %}


{% block title %} Stote List {% endblock %}

{% block top %}
<div class="top top--store">
    <p class="top__text">Logの投稿されたお店</p>
</div>
{% endblock %}


{% block main %}

<ul>
    {% for store in store_list %}
    <li class="stores">
        <a href="{% url 'coffeelog:search' %}?type=narrow&col=store__name&target={{store.name}}" class="stores__name">{{ store.name }}</a>
        <p class="stores__count">Log投稿数:{{ counts | log_count:store.name }}</p>
    </li>
    {% endfor %}
</ul>


{% endblock %}
